{% extends "layout.html" %}
{% block content %}
    <div class="post-header">
        <h1>Posts by {{ user.username}} ({{ posts.total}})</h1>
    </div>
    {% for post in posts.items %}
        <div class="post">
            <img class="post-img" src="{{ url_for('static', filename='img/'+ post.author.image_file)}}" >
            <div class="post-content">
                <p class="meta"><a href="{{ url_for('user_posts', username=post.author.username) }}"><span> {{ post.author.username }} </span> </a>  {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                <h2 class="title"><a href=" {{ url_for('post', post_id=post.id)}}"> {{ post.title }} </a></h2>
                <p class="content">{{ post.content }}</p>
            </div>
            
        </div>
    {% endfor %}
    <div class="pagination">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                        <a class="page-no page-clr" href="{{ url_for('user_posts', username=user.username, page=page_num)}}"> {{ page_num }}</a>
                {% else %}
                        <a class="page-no"  href="{{ url_for('user_posts', username=user.username, page=page_num)}}"> {{ page_num }}</a>
                {% endif%}
            {% endif %}
        {% endfor %}
</div>
{% endblock content %}


